#AccessDenied {
    color: white;
    font-size: 100px;
    font-family: Arial;
    font-weight: bold;
}

body{
    background-color: #008ae6;
}
#deniedPage {
    height: 100%;
    margin-top: 250px;
    border-radius: 100px;
    padding: 100px 100px;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

#pleaseLogIn {
    color: white;
    font-size: 70px;
    font-family: Arial;
    font-weight: bold;
}

.loginButton {
    border-radius: 8px;
    padding: 20px 60px;
    font-size: 40px;
    background: #004080;
    color: white;
}

.loginButton:hover {
    background-color: #99b3ff;
}

